/* css/fuels.css */

:root {
    --rojo-quemado: #B22222;
    --gris-oscuro: #2E2E2E;
    --amarillo-petroleo: #FFD700;
    --gris-claro: #D3D3D3;
    --blanco: #FFFFFF;
}


/* RESET BÁSICO */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* LAYOUT GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--gris-oscuro);
    color: var(--blanco);

}


header {
    background-color: var(--rojo-quemado);
    padding: 2.5rem;
    text-align: center;
}

header h1 {
    background-color: var(--rojo-quemado);
    padding: 1rem;
    text-align: center;
}

h2 {
    color: var(--blanco);
    margin: 0;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}



/* FORMULARIO DE FUEL */
#fuel-form {
    background: var(--gris-claro);
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto 2rem;
}

#fuel-form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

#fuel-form .field span {
    margin-bottom: 0.3rem;
}

#fuel-form input {
    padding: 0.5rem;
    border: 1px solid var(--gris-oscuro);
    border-radius: 6px;
    font-size: 1rem;
}

#fuel-form button {
    background-color: var(--amarillo-petroleo);
    color: var(--gris-oscuro);
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

#fuel-form button:hover {
    background-color: #f1e645;
}

/* MENSAJES */
#message {
    text-align: center;
    margin-top: 1rem;
    font-size: 18px;
}

/* TABLA DE LISTADO */
main {
    max-width: 1000px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: var(--gris-claro);
    box-shadow: 0 1px 4px var(--gris-oscuro);
    border-radius: 6px;
    overflow: hidden;

}

thead {
    background-color: var(--amarillo-petroleo);
    color: var(--gris-oscuro);
}

thead th {
    padding: 0.8rem;
    font-size: 0.9rem;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #969494;
}

tbody td {
    padding: 0.7rem;
    font-size: 0.9rem;
    color: #2E2E2E;
}